!!!
%html
  /%link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
  %link(rel="stylesheet" href="notreallystyles.css")
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
  %head
    %link(href="/img/favicon.ico" rel="icon" type="image/x-icon")  
    %title Hansen Zhang
    
    %body
      #container
        %h1 hansen zhang
        %p database/web developer & homebrewer

        #content
          /%h1 Home page
          %p Hello!  I'm an aspiring developer currently studying at Lehigh University.  Why not check out my <a href="http://hansenzhang.com/resume">resume</a> or some other projects I've worked on?
        
        
        %ul#icons
          <a href="http://twitter.com/hansen_zhang" target="_blank">
          %li.icon.twitter Twitter 
          </a>

          <a href="http://twitter.com/hansen_zhang" target="_blank">
          %li.icon.github Github 
          </a>
          
          <a href="http://twitter.com/hansen_zhang" target="_blank">
          %li.icon.linkedin LinkedIn 
          </a>
          <a href="http://twitter.com/hansen_zhang" target="_blank">
          %li.icon.email Email 
          </a>
    <script src="google-analytics.js"></script>
    <script src="scripts.js"></script>
